@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
}

main {
    height: calc(100vh - 150px);
    background-color: rgb(1, 77, 255);
}

h1 {
    color: darkorange;
}

.card {
    height: 200px;

    h3 {
        color: cornflowerblue;
    }

    span {
        color: darkblue;
    }
}

.card-movie {
    width: 300px;
    height: 300px;
}

footer {
    height: 70px;
}